@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Roboto&display=swap');
@import url(/assets/css/button.css);
@import url(/assets/css/reset.css);
@import url(/assets/css/color.css);
@import url(/assets/css/select.css);
@import url(/assets/css/input.css);
@import url(/assets/css/aside.css);
@import url(/assets/css/container.css);
@import url(/assets/css/table.css);
@import url(/assets/css/titlePage.css);
@import url(/assets/css/label.css);
@import url(/assets/css/noRequest.css);
@import url(/assets//css/disable.css);

.pageNewRequest{
    padding: 20px 10px 0px 30px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.644);
}
.consumptionType{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    gap: 10px;
    color: var(--cor-texto-40);
    margin-bottom:40px;
    font-family: "Barlow";
}
.consumptionType > label{
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    color: var(--cor-texto-50);
}

.searchProduct{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom:20px;
}
.searchProduct > label{
    width: 100%;

}
.searchProduct > button{
    margin-left: 10px;
    
    color:var(--cor-primary-46);
    border:1px solid var(--cor-primary-46);
    background-color:white;
}
.searchProduct > button:hover{
    background-color: var(--cor-primary-86);
}

.infoProduct{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom:20px;
    gap: 20px;
}
.infoProduct > div{
    display: flex;
    flex-wrap: wrap;
}
.infoProduct > div > label{
    width: 100%;
    margin-bottom: 7px;
}
.infoProduct > div > input{
    width: 100%;
}
.groupQuantity{
   width: 10%;
}
.groupProduct{
  width: 70%;
}
.groupPrice{
    width: calc(20% - 40px);
}

.addProduct{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom:30px;
}
.addProduct > button{
    background-color: var(--cor-cta-52);
    color: white;
    border: none;
}
.addProduct > button:hover{
    background-color: var(--cor-cta-42);
}
.code{
    width: 10%;
}
.product{
    width: 60%;
}
.quantity{
    width: 20%;
}
.price{
    width: 10%;
}
.actionPage{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.cancel{
    background-color: white;
    color:var(--cor-cta-42) ;
    border:none;
    font-weight: bold;
}
.cancel:hover{
    background-color: var(--cor-cta-42);
    color:var(--cor-cta-92) ;
}
.saveOrder{
    background-color: var(--cor-cta-52);
    color:var(--cor-cta-92) ;
    border:none;
    font-weight: bold;
    margin-bottom: 20px;
}
.saveOrder:hover{
    background-color: var(--cor-cta-42);
}