@import url(/assets/css/color.css);
.noRequest{
    margin-top:50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    border-bottom:0.5px solid var(--cor-texto-90);
    margin-bottom: 20px;
}
.noRequest > img{
    width: 35%;
}
.noRequest > h1{
    font-size: 22px;
    color: var(--cor-texto-40);
}
